*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
}
h1{
    color: #acacac;
    margin-left: 5%;
    margin-top: 10%;
    font-size: 100px;
}
form{
    margin-left: 30%;
    margin-top: 5%;
}
label{
    font-size: 22px;
    color: #acacac;
}
input{
    height: 40px;
    width: 240px;
    background-color: black;
    border: none;
    border: 0.1px solid #acacac;
    border-radius: 10px;
}
input:focus{
    background-color: #acacac;
}